body {
  margin: 0;
  font-family: sans-serif;
  font-size: bold;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 228, 196, 0.269);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  background-color: #27201bf8;
  display: inline-block;
  width: 100vw;
}
.nav-link {
  color: #f8f9fa;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f8f9fa;
}
.btn {
  color: #f8f9fa;
}
.btn:hover {
  color: rgba(168, 123, 8, 0.885);
  /* background-color: #27201b; */
}
.navbar-light .navbar-brand {
  color: #dee2e6;
}
.navbar-light:hover .navbar-brand:hover {
  color: #dee2e6;
}
.navbar-light:hover .navbar-brand:visited {
  color: #dee2e6;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  background-color: #27201b;
}
.navbar-light .navbar-nav .nav-link {
  color: #f9fafb;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(168, 123, 8, 0.885);
}
li.dropdown-item.nav-item:hover {
  background-color: #27201b;
}
.carosel-img {
  max-width: 100%;
  border-radius: 3px;
  max-height: 80vh;
}
th {
  align-items: center;
  text-align: center;
}
td {
  align-items: center;
  text-align: center;
  justify-items: center;
  width: 33%;
}
.caro-box {
  width: 100%;
}
.holder {
  display: flex;
  align-items: center;
  margin: 0rem auto;
}
.slogan {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  font-style: bold;
  font-weight: 400;
  font-family: "Playfair", serif;
  line-height: 3rem;
}
.logo {
  letter-spacing: 2px;
  font-weight: 900;
  font-style: italic;
  font-size: 22px;
  border: none;
  margin-bottom: 0;
}
.logo:visited {
  color: #f9fafb;
}
.card {
  width: 18rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;

  border: none;
  transition: transform 1s;
}
.card:hover {
  transform: translateY(-1.5rem);
}
.testimony-all {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7rem 0 7rem 0;
}

.testimony-img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: #dee2e6 2px solid;
  margin-left: -1rem;
}
.card-body {
  background-color: #27201b;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-text {
  height: 8rem;
}
.card-img-top {
  height: 18rem;
}

.heading {
  letter-spacing: 1px;
  padding: 2rem;
  font-weight: 900;
  color: rgba(168, 123, 8, 0.885);
  font-family: "Playfair", serif;
}
.container {
  margin: 5rem auto;
}
.container2 {
  margin: 15rem auto;
  width: 90vw;
  background-color: #c9b5a7a4;
}
.test-text {
  font-family: "Playfair", serif;
  font-size: 1.5rem;
}
.car-container {
  width: 70%;
}
.car-box {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9b5a7a4;
  z-index: 0;
}
.car-box2 {
  border-radius: 50%;
  height: 13rem;
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27201be0;
  z-index: 1;
}
.car-img {
  height: 16rem;
  width: 40rem;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 2;
}
.car-col {
  height: 50vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car-container {
  z-index: -3;
  border-radius: 5px;
  background-color: #c9b5a723;
}
.car-text {
  font-size: 1.3rem;
  line-height: 2.2rem;
}

.models-img {
  height: 120px;
  width: 60%;
  border-radius: 10px;
}

.scroll {
  height: 30rem;
}
.foot-link {
  height: 2rem;
  width: 2rem;
  align-self: center;
  justify-self: center;
  margin-bottom: 1px;
  margin: 0 auto;
}
.git {
  align-self: flex-start;
  margin-bottom: 2rem;
}
.d-flex {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
ul {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bi {
  align-self: center;
  margin: 0 auto;
}
.git:hover {
  cursor: pointer;
}
